#Include ~/.ssh.d/*

Host *
  ServerAliveCountMax 6 
  ServerAliveInterval 10

Host github.com
  ForwardAgent no
  StrictHostKeyChecking yes
  UserKnownHostsFile ~/.ssh/known_hosts.gh 

Host *.docker
  User ubuntu
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
  ProxyCommand bash -c 'exec nc "$(curl -s http://169.254.169.254/latest/meta-data/local-ipv4)" "$(docker inspect "${1%%.docker}" | jq -r ".[].NetworkSettings.Ports[][].HostPort")"' -- %h %p
# 169.254.1.1
