#Include ~/.ssh.d/*

Host *
  ServerAliveInterval 60

Host github.com
  ForwardAgent no
  StrictHostKeyChecking yes
  UserKnownHostsFile ~/.ssh/known_hosts.gh 

#Host x.bastion
#  Hostname xxx
#  StrictHostKeyChecking yes
#  UserKnownHostsFile ~/.ssh/known_hosts.bastion
#
#Host *.x
#  StrictHostKeyChecking no
#  UserKnownHostsFile ~/.ssh/known_hosts.x
#  ProxyCommand bash -c 'exec ssh -a -l ubuntu x.bastion -W ${1%%.x}:$2' -- %h %p 2>/dev/null
#
#Host something.x
#  Hostname something.real
