#Include ~/.ssh.d/*

Host *
  ServerAliveCountMax 6 
  ServerAliveInterval 10

Host github.com
  ForwardAgent no
  StrictHostKeyChecking yes
  UserKnownHostsFile ~/.ssh/known_hosts.gh 

Host *.docker
  User ubuntu
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
  ProxyCommand bash -c 'exec nc 127.0.0.1 "$(docker inspect "${1%%.docker}" | jq -r ".[].NetworkSettings.Ports[][].HostPort")"' -- %h %p
