[submodule "work/shflags"]
	path = work/shflags
	url = git@github.com:imma/shflags
	branch = master
[submodule "work/normalize"]
	path = work/normalize
	url = git@github.com:imma/normalize
	branch = master
[submodule "work/bash-preexec"]
	path = work/bash-preexec
	url = git@github.com:imma/bash-preexec
	branch = master
[submodule "work/sub"]
	path = work/sub
	url = git@github.com:imma/sub
	branch = master
[submodule "work/runmany"]
	path = work/runmany
	url = git@github.com:imma/runmany
	branch = master
[submodule "work/block"]
	path = work/block
	url = git@github.com:imma/block
	branch = master
[submodule "work/ubuntu-config"]
	path = work/ubuntu-config
	url = git@github.com:imma/ubuntu-config
	branch = master
[submodule "work/context"]
	path = work/context
	url = git@github.com:imma/context
	branch = master
[submodule "work/parity"]
	path = work/parity
	url = git@github.com:imma/parity
	branch = master
[submodule "work/docker"]
	path = work/docker
	url = git@github.com:imma/docker
	branch = master
[submodule "work/pkgsrc"]
	path = work/pkgsrc
	url = git@github.com:imma/pkgsrc
	branch = master
[submodule "work/jq"]
	path = work/jq
	url = git@github.com:imma/jq
	branch = master
[submodule "work/base"]
	path = work/base
	url = git@github.com:imma/base
	branch = master
[submodule "work/ruby"]
	path = work/ruby
	url = git@github.com:imma/ruby
	branch = master
[submodule "work/python"]
	path = work/python
	url = git@github.com:imma/python
	branch = master
[submodule "work/cache"]
	path = work/cache
	url = git@github.com:imma/cache
	branch = master
[submodule "work/curl"]
	path = work/curl
	url = git@github.com:imma/curl
	branch = master
[submodule "work/nodeenv"]
	path = work/nodeenv
	url = git@github.com:imma/nodeenv
	branch = master
[submodule "work/node"]
	path = work/node
	url = git@github.com:imma/node
	branch = master
[submodule "work/java"]
	path = work/java
	url = git@github.com:imma/java
	branch = master
[submodule "work/bash4"]
	path = work/bash4
	url = git@github.com:imma/bash4
	branch = master
[submodule "work/kubernetes"]
	path = work/kubernetes
	url = git@github.com:imma/kubernetes
	branch = master
[submodule "work/homebrew"]
	path = work/homebrew
	url = git@github.com:imma/homebrew
	branch = master
[submodule "work/runit"]
	path = work/runit
	url = git@github.com:imma/runit
	branch = master
[submodule "work/service"]
	path = work/service
	url = git@github.com:imma/service
	branch = master
[submodule "work/sshd"]
	path = work/sshd
	url = git@github.com:imma/sshd
	branch = master
[submodule "work/ansible"]
	path = work/ansible
	url = git@github.com:imma/ansible
	branch = master
[submodule "work/facts"]
	path = work/facts
	url = git@github.com:imma/facts
	branch = master
[submodule "work/consul"]
	path = work/consul
	url = git@github.com:imma/consul
	branch = master
[submodule "work/consul-agent"]
	path = work/consul-agent
	url = git@github.com:imma/consul-agent
	branch = master
[submodule "work/vault"]
	path = work/vault
	url = git@github.com:imma/vault
	branch = master
[submodule "work/linkerd"]
	path = work/linkerd
	url = git@github.com:imma/linkerd
	branch = master
[submodule "work/aq"]
	path = work/aq
	url = git@github.com:imma/aq
	branch = master
[submodule "work/aqq"]
	path = work/aqq
	url = git@github.com:imma/aqq
	branch = master
[submodule "work/inventory"]
	path = work/inventory
	url = git@github.com:imma/inventory
	branch = master
[submodule "work/deploy"]
	path = work/deploy
	url = git@github.com:imma/deploy
	branch = master
[submodule "work/aws"]
	path = work/aws
	url = git@github.com:imma/aws
	branch = master
[submodule "work/awesome"]
	path = work/awesome
	url = git@github.com:imma/awesome
	branch = master
[submodule "work/talign"]
	path = work/talign
	url = git@github.com:imma/talign
	branch = master
[submodule "work/git"]
	path = work/git
	url = git@github.com:imma/git
	branch = master
[submodule "work/junas"]
	path = work/junas
	url = git@github.com:imma/junas
	branch = master
[submodule "work/cue"]
	path = work/cue
	url = git@github.com:imma/cue
	branch = master
[submodule "work/defn"]
	path = work/defn
	url = git@github.com:imma/defn
	branch = master
[submodule "work/htop"]
	path = work/htop
	url = git@github.com:imma/htop
	branch = master
[submodule "work/sysadmin"]
	path = work/sysadmin
	url = git@github.com:imma/sysadmin
	branch = master
[submodule "work/buildkite"]
	path = work/buildkite
	url = git@github.com:imma/buildkite
	branch = master
[submodule "work/docker-compose"]
	path = work/docker-compose
	url = git@github.com:imma/docker-compose
	branch = master
[submodule "work/lxd"]
	path = work/lxd
	url = git@github.com:imma/lxd
	branch = master
[submodule "work/syslog-ng"]
	path = work/syslog-ng
	url = git@github.com:imma/syslog-ng
	branch = master
[submodule "work/confd"]
	path = work/confd
	url = git@github.com:imma/confd
	branch = master
[submodule "work/gpg"]
	path = work/gpg
	url = git@github.com:imma/gpg
	branch = master
[submodule "work/git-crypt"]
	path = work/git-crypt
	url = git@github.com:imma/git-crypt
	branch = master
[submodule "work/etcd"]
	path = work/etcd
	url = git@github.com:imma/etcd
	branch = master
[submodule "work/flannel"]
	path = work/flannel
	url = git@github.com:imma/flannel
	branch = master
[submodule "work/site"]
	path = work/site
	url = git@github.com:imma/site
	branch = master
[submodule "work/hugo-material-docs"]
	path = work/hugo-material-docs
	url = git@github.com:imma/hugo-material-docs
	branch = master
