[default]
output = json
s3 =
    use_dualstack_endpoint = true

[profile base-user]
region = us-east-1

[profile base]
source_profile = base-user
mfa_serial = arn:aws:iam::xxx:mfa/user
role_arn = arn:aws:iam::xxx:role/administrator
