version: '2'

services:
  dnsmasq:
    command: >
      -d --no-negcache --neg-ttl=1 --no-resolv --log-facility=- 
      --log-queries=extra 
      -S 192.168.201.2#5353 
      -S /adm0.immanent.io/192.168.194.251 
      -S /us-east-1.amazonaws.com/192.168.194.251 
      -S /adm1.immanent.io/192.168.194.101 
      -S /us-west-2.amazonaws.com/192.168.194.101 
      -S /adm2.immanent.io/192.168.194.217 
      -S /us-east-2.amazonaws.com/192.168.194.217 
      -S /adm3.immanent.io/192.168.194.249 
      -S /us-west-1.amazonaws.com/192.168.194.249
